@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --darkGreen: rgba(10, 63, 73, 0.9); /* Adjust the alpha value (0.7) to reduce the opacity */
    --middleGreen: #436568;
  --lightGreen: rgba(17, 178, 189, 1); /* Adjust the alpha value (0.3) to make it lighter */
  --gradient-background:linear-gradient(to left, var(--darkGreen) 0%, var(--lightGreen) 100%);
}

body {
  font-family: 'Barlow', sans-serif;
  background:var(--gradient-background);
color:white;
}
.hero-title {
  background:linear-gradient(to right, var(--middleGreen) 0% , var(--darkGreen) 100% )
}
